* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.background-image {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    overflow: hidden;
}

.container {
    display: flex;
    height: 65%;
    width: 65%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.container .banner-screen {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 1;
    /* left: 5%; */

}

.header-sidebar {
    height: 100%;
    width: 5%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 100px;
    background-color: rgb(197, 197, 197);
}

.header-sidebar button {
    display: flex;
    position: absolute;
    height: 50px;
    width: 70px;
    align-items: center;
    justify-content: center;
    background-color: gray;
}